<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.computer.vstopmotion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VdostopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".VdoActivity" />
        <activity android:name=".VdoSw1Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailFrActivity" />
        <activity android:name=".DetailFr1Activity" />
        <activity android:name=".DetailFr2Activity" />
        <activity android:name=".DetailFr3Activity" />
        <activity android:name=".DetailFr4Activity" />
        <activity android:name=".MainSwActivity" />
        <activity android:name=".DetailSwActivity" />
        <activity android:name=".DetailSw1Activity" />
        <activity android:name=".DetailSw2Activity" />
        <activity android:name=".DetailSw3Activity" />
        <activity android:name=".DetailSw4Activity" />
        <activity android:name=".VdostopSwActivity" />
        <activity android:name=".VdostopSw1Activity" />
        <activity android:name=".VdostopSw2Activity" />
        <activity android:name=".VdostopSw3Activity" />
        <activity android:name=".VdostopSw4Activity" />
        <activity android:name=".MainFrActivity" />
        <activity android:name=".VdoSw1Activity" />
        <activity android:name=".VdoSw2Activity" />
        <activity android:name=".VdoSw3Activity" />
        <activity android:name=".VdoSw4Activity" />
        <activity android:name=".VdostopMeActivity" />
        <activity android:name=".VdostopMe1Activity" />
        <activity android:name=".VdostopMe2Activity" />
        <activity android:name=".VdostopMe3Activity" />
        <activity android:name=".VdostopMe4Activity"></activity>
    </application>

</manifest>